body{
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 70px;
    margin: 20px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    margin-top: 33px;
    margin-bottom: 33px;
    font-size: 2rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    line-height: 2;
    margin: 20px;
}
.top-container{ 
   background-color: #e4f9f5;
   position: relative;
   padding-top: 100px;
}
.cloud1{
    position: absolute;
    right: 300px;
    top: 50px;
}
.cloud2{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
span{
    text-decoration: underline;
}
.profile{
    
}
.profile-pic{
    width: 180px;
    height: 180px;
    margin-top: 100px
}
p{
    line-height: 2;
    margin-left: 20px;
}
.para{
    margin-left: 440px;
    margin-right: 440px;
}
hr{
    width: 6%;
    border: none;
    border-top: dotted;
    border-width: 6px;
    border-color: #cce4e9;
    margin: 100px;
    margin-left: 600px;
    margin-right: 443px;
}
.middle-container{
}
.skill-row{
    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;

}
.pro{
    width: 25%;
    float: left;
    margin-right: 40px;
}
.hack{
    width: 25%;
    float: right;
}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 20px;
}
.icon-fab{
    color: rgb(52, 119, 243);
    margin: 3px;
}
.icon-ins{
    color: rgb(211, 29, 83);
    margin: 3px;
}
.icon-lin{
    color: rgb(57, 138, 214);
    margin: 3px;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
    margin: 0%;
}
.fab{
    margin: 10px;
    margin-top: 30px;
}
.BUTTON_OBH {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 3px;
    line-height: 3px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    width: 135px;
    font-size: 21px;
    font-weight: 100;
    padding: 21px;
    background-color: #11CDD4;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_OBH:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .btn{
  margin: 60px;
 }